.avatar-msg {
	display: flex;
	position: fixed;
	top: 1rem;
	left: 50%;
	transform: translate(-50%, -1rem);
	opacity: 0;
	background-color: var(--background-color);
	border: 1px solid;
    font-weight: 400;
	border-color: var(--boarder-color);
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 9999;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.avatar-msg.avatar-msg-show {
	transform: translate(-50%, 0);
	opacity: 1;
}

.avatar-msg-icon {
	width: 20px;
	height: 20px;
	margin: 0 10px;
	fill: var(--icon-color);
}

.avatar-msg-centent {
	display: flex;
	align-items: center;
	padding: 16px 24px;
}