.cropper-container {
	overflow: hidden;
	font-size: 0px;
	position: relative;
	height: 400px;
	width: 400px;
	border: solid 1px black;
}

.cropper-container[disabled] {
	visibility: hidden;
	position: absolute;
}

.current-avatar {
	max-height: 128px;
	border-radius: 5px;
}

#avatar-canvas {
	display: none;
	width: 100%;
	max-width: 200px;
	max-height: 200px;
	background-color: aliceblue;
}

#clipping-area {
	display: flex;
	justify-content: center;
}

#crop {
	position: relative;
	overflow: hidden;
	width: fit-content;
	touch-action: none;
}

#clipping-function-area {
	width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;
    background: #ccc;
	border-radius: 5px;
}

.cropper {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100px;
	width: 100px;
	cursor: move;
	border: 1px solid var(--background-color-progressive, #36c);
	outline: solid rgba(0, 0, 0, 0.6) 1000px;
}

.tl-resizer, .tr-resizer, .bl-resizer, .br-resizer{
	position: absolute;
	height: 7px;
	width: 7px;
	background-color: var(--background-color-progressive, #36c);
	border: 1px solid var(--background-color-progressive, #36c);
	z-index: 2;
}
.up, .down, .left, .right {
	position: absolute;
	height: 5px;
	width: 5px;
	background-color: var(--background-color-progressive, #36c);
	border: 1px solid var(--background-color-progressive, #36c);
	z-index: 2;
}
.up {
	top: -3px;
	left: 50%;
	transform: translateX(-50%);
	cursor: n-resize;
}
.down {
	bottom: -3px;
	left: 50%;
	transform: translateX(-50%);
	cursor: s-resize;
}
.left {
	left: -3px;
	top: 50%;
	transform: translateY(-50%);
	cursor: w-resize;
}
.right {
	right: -3px;
	top: 50%;
	transform: translateY(-50%);
	cursor: e-resize;
}
.tl-resizer {
	left: -3px;
	top: -3px;
	cursor: nwse-resize;
}
.tr-resizer {
	right: -3px;
	top: -3px;
	cursor: nesw-resize;
}
.bl-resizer {
	left: -3px;
	bottom: -3px;
	cursor: nesw-resize;
}
.br-resizer {
	right: -3px;
	bottom: -3px;
	cursor: nwse-resize;
}

.x {
	position: absolute;
	width: 100%;
	height: 33%;
	top: 50%;
	transform: translateY(-50%);
	border-top: 1px dashed #eee;
	border-bottom: 1px dashed #eee;
}
.y {
	position: absolute;
	width: 33%;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-right: 1px dashed #eee;
	border-left: 1px dashed #eee;
}

.upl-svg {
	width: 1rem;
    margin-right: 5px;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIHY2LjcuMiBieSBAZm9udGF3ZXNvbWUgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbSBMaWNlbnNlIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20vbGljZW5zZS9mcmVlIENvcHlyaWdodCAyMDI1IEZvbnRpY29ucywgSW5jLi0tPjxwYXRoIGQ9Ik0yODggMTA5LjNMMjg4IDM1MmMwIDE3LjctMTQuMyAzMi0zMiAzMnMtMzItMTQuMy0zMi0zMmwwLTI0Mi43LTczLjQgNzMuNGMtMTIuNSAxMi41LTMyLjggMTIuNS00NS4zIDBzLTEyLjUtMzIuOCAwLTQ1LjNsMTI4LTEyOGMxMi41LTEyLjUgMzIuOC0xMi41IDQ1LjMgMGwxMjggMTI4YzEyLjUgMTIuNSAxMi41IDMyLjggMCA0NS4zcy0zMi44IDEyLjUtNDUuMyAwTDI4OCAxMDkuM3pNNjQgMzUybDEyOCAwYzAgMzUuMyAyOC43IDY0IDY0IDY0czY0LTI4LjcgNjQtNjRsMTI4IDBjMzUuMyAwIDY0IDI4LjcgNjQgNjRsMCAzMmMwIDM1LjMtMjguNyA2NC02NCA2NEw2NCA1MTJjLTM1LjMgMC02NC0yOC43LTY0LTY0bDAtMzJjMC0zNS4zIDI4LjctNjQgNjQtNjR6TTQzMiA0NTZhMjQgMjQgMCAxIDAgMC00OCAyNCAyNCAwIDEgMCAwIDQ4eiIvPjwvc3ZnPg==') center center no-repeat;
}

#avatar-presentation-region {
	display: flex;
	align-items: self-end;
	justify-content: center;
	margin: 2rem 0;
}

#avatar-presentation {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.upload-avatar-btn {
	display: flex;
	padding: 5px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#avatar-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#avatar-preview-canvas {
	width: 124px;
	height: 124px;
	border-radius: 1rem;
}

.avatar-preview-region {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.function-button-area {
	display: flex;
}

.function-area:nth-child(2) {
	margin: 0 0.5rem;
}

.btn-bgblue {
	background-color: var(--background-color-progressive, #36c);
	color: #fff;
}
.btn-bgblue:hover {
	background-color: var(--color-progressive--hover, #4b77d6);
}

@media (max-width: 480px) {
	#clipping-function-area {
		width: 100%;
		max-width: 300px;
		height: auto;
	}
	#avatar-canvas {
		width: 100%;
		height: auto;
		max-width: initial;
    	max-height: initial;
	}
	#clipping-area {
		flex-direction: column;
		align-items: center;
	}
	#avatar-preview {
		display: none;
	}
	.avatar-preview-region {
		margin: 1rem 0;
	}
}