.cropper-container {
	overflow: hidden;
	font-size: 0px;
	position: relative;
	height: 400px;
	width: 400px;
	border: solid 1px black;
}

.cropper-container[disabled] {
	visibility: hidden;
	position: absolute;
}

.current-avatar {
	max-height: 128px;
	border-radius: 5px;
}

#avatar-canvas {
	display: none;
	width: 100%;
	max-width: 200px;
	max-height: 200px;
	background-color: aliceblue;
}

#clipping-area {
	display: flex;
	justify-content: center;
	margin: 2rem 0;
}

#crop {
	position: relative;
	overflow: hidden;
	width: fit-content;
	touch-action: none;
}

#clipping-function-area {
	width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
	align-items: center;
    flex-direction: column;
    background: #ccc;
	border-radius: 5px;
}

.cropper {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100px;
	width: 100px;
	cursor: move;
	border: 1px solid var(--background-color-progressive, #36c);
	outline: solid rgba(0, 0, 0, 0.6) 1000px;
}

.tl-resizer, .tr-resizer, .bl-resizer, .br-resizer{
	position: absolute;
	height: 7px;
	width: 7px;
	background-color: var(--background-color-progressive, #36c);
	border: 1px solid var(--background-color-progressive, #36c);
	z-index: 2;
}
.up, .down, .left, .right {
	position: absolute;
	height: 5px;
	width: 5px;
	background-color: var(--background-color-progressive, #36c);
	border: 1px solid var(--background-color-progressive, #36c);
	z-index: 2;
}
.up {
	top: -3px;
	left: 50%;
	transform: translateX(-50%);
	cursor: n-resize;
}
.down {
	bottom: -3px;
	left: 50%;
	transform: translateX(-50%);
	cursor: s-resize;
}
.left {
	left: -3px;
	top: 50%;
	transform: translateY(-50%);
	cursor: w-resize;
}
.right {
	right: -3px;
	top: 50%;
	transform: translateY(-50%);
	cursor: e-resize;
}
.tl-resizer {
	left: -3px;
	top: -3px;
	cursor: nwse-resize;
}
.tr-resizer {
	right: -3px;
	top: -3px;
	cursor: nesw-resize;
}
.bl-resizer {
	left: -3px;
	bottom: -3px;
	cursor: nesw-resize;
}
.br-resizer {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
    width: 10px;
    height: 10px;
}

.x {
	position: absolute;
	width: 100%;
	height: 33%;
	top: 50%;
	transform: translateY(-50%);
	border-top: 1px dashed #eee;
	border-bottom: 1px dashed #eee;
}
.y {
	position: absolute;
	width: 33%;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
	border-right: 1px dashed #eee;
	border-left: 1px dashed #eee;
}

#avatar-presentation-region {
	display: flex;
	align-items: self-end;
	justify-content: center;
	margin:  2rem auto;
}

#avatar-presentation {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#avatar-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#avatar-preview-canvas {
	width: 124px;
	height: 124px;
	border-radius: 1rem;
}

.avatar-preview-region {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.function-button-area {
	display: flex;
	gap: 0.5rem;
}

@media (max-width: 480px) {
	#clipping-function-area {
		width: 100%;
		max-width: 300px;
		height: auto;
	}
	#avatar-canvas {
		width: 100%;
		height: auto;
		max-width: initial;
    	max-height: initial;
	}
	#clipping-area {
		flex-direction: column;
		align-items: center;
	}
	#avatar-presentation-region {
		flex-direction: column-reverse;
		align-items: center;
	}
	#upload-avatar-btn {
		margin: 1rem 0 0;
	}
	#avatar-preview {
		display: none;
	}
	.avatar-preview-region {
		margin: 1rem 0;
	}
}